<div class="page-container">
  <h1>OneCert, Inc.</h1>
  <p>
    2219 C Street<br>
    Lincoln, NE 68502 USA<br>
    phone: (402) 420-6080<br>
    fax: (888) 475-6044<br>
    email: <%= mail_to "info@onecert.com" %>
  </p>
  <h1>OneCert Asia Agri Certification Pvt</h1>
  <p>and</p>
  <h1>OneCert International Pvt Ltd</h1>
  <p>
    H-08, Mansarovar Industrial Area, Mansarovar<br>
    Jaipur - 302020 (Rajasthan)<br>
    INDIA<br>
    phone/fax: 0141-2701882(PBX), 6541883(Direct)<br>
    email: <%= mail_to "info@onecertasia.in" %><br>
           <%= mail_to "info@onecertinternational.com" %>
  </p>

</div>
