<div class="page-container">
  <div class="row">
    <div class="col s12 m5">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">OneCert certifies to major organic markets</span>
          <ul>
            <li>USDA National Organic Program (NOP)</li>
            <li>US/Canada Organic Equivalency Arrangement (USCOEA)</li>
            <li>Export Certificates for Japan (NOP Equivalent)</li>
            <li>Export Certificates for Taiwan (NOP Equivalent)</li>
            <li>European Organic Regulations (EC 834/2007) by OneCert International</li>
            <li>Japan Agricultural Standard (JAS) by OneCert International</li>
            <li>Indian National Programme for Organic Production (NPOP) by OneCert Asia</li>
          </ul>
        </div>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">OneCert International certifies organic textiles and inputs</span>
          <ul>
            <li>Global Organic Textile Standards (GOTS)</li>
            <li>Organic Content Standards (OCS) 100 &amp; Blended</li>
    g      </ul>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Organic Certification Packet via email</span>
          <p>
            Request an <a href="download.php">organic certification packet</a>
            on-line and have it delivered to your email within minutes.
          </p>
          <span class="card-title">
            <i>OneCert International Organic Standards</i> includes the major
            international standards for organic certification
          </span>
          <ul>
            <li>USDA National Organic Program (NOP)</li>
            <li>European Organic Regulations (EC 834/2007)</li>
            <li>Japan Agricultural Standards (JAS)</li>
          </ul>
          <span class="card-title">OneCert = Value</span>
          <ul>
            <li>"One stop shop" for certification for the major world
              markets</li>
            <li>Prompt, accurate information</li>
            <li>No hidden costs</li>
            <li>Integrity in all aspects of its operations</li>
            <li>Well-trained, experienced staff</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
