<div class="page-container">
  <h1><a name="_top"></a>Organic and Sustainable
  Agriculture Links</h1>

  <h2><a name="_Work_Information"></a><a name="_Organic_Research_and_Information"></a>Organic
  Information</h2>
  <ul>
  <li><a href="http://www.mosesorganic.org/index.html">Midwest
  Organic and Sustainable Education Service</a></p>

  <li><a href="http://www.cog.ca/">Canadian Organic Growers</a></p>

  <li><a href="http://www.nodpa.com/">Northeast Organic Dairy
  Producers Alliance</a></p>

  <li><a href="http://www.ag.ndsu.nodak.edu/organic/">Organic
  Farming - NDSU Extension Service</a></p>

  <li><a href="http://www.ofrf.org/">Organic Farming Research
  Foundation</a></p>

  <li><a href="http://www.newfarm.org/">The NEW FARM</a></p>
  </ul>

  <h2><a name="_Favorite_Links"></a><a name="_Sustainable_Agriculture_Information"></a>Sustainable
  Agriculture Information</h2>
  <ul>
  <li><a href="http://www.leopold.iastate.edu/">Leopold
  Center for Sustainable Agriculture</a></p>

  <li><a href="http://www.nebsusag.org/">Nebraska Sustainable
  Agriculture Society</a></p>

  <li><a href="http://www.npsas.org/">Northern Plains Sustainable
  Agriculture Society</a></p>

  <li><a href="http://www.practicalfarmers.org/">Practical
  Farmers of Iowa</a></p>
  </ul>

  <h2><a name="_GMO_Information"></a>GMO Information</h2>
  <ul>
  <li><a href="http://www.nongmoproject.org/">Non-GMO Project</a></p>

  <li><a href="http://www.responsibletechnology.org/GMFree/Home/index.cfm">Institute
  for Responsible Technology</a></p>

  <li><a href="http://www.organicconsumers.org/gelink.cfm">Organic Consumers
  Association</a></p>

  </ul>

  <h2><a name="_Social_Responsibility"></a>Social Responsibility</h2>
  <ul>
  <li><a href="http://www.fairtraderesource.org/">Fair Trade
  Resource Network</a></p>

  <li><a href="http://www.organicconsumers.org/fairtrade.cfm">Organic Consumers
  Association</a></p>

  <li><a href="http://www.transfairusa.org/">Transfair USA</a></p>

  </ul>
<div>
