<div class="page-container">
  <h1>Most
  Common Mistakes  </h1>
  <h2>Made by certified crop operators and/or certification applicants</h2>
  <p>Compiled by Jim Riddle*</p>

  <h3>Certifier relations: </h3>

  <ul type=square>
   <li>Getting
       a product or practice approved by a certifier, but not getting the approval
       in writing, and then misunderstanding the &quot;approval&quot;. </li>
   <li>Failure
       to submit requested documentation to the certifier (such as prior land use
       forms, non-GMO letters, adjoining land use forms, water test results,
       etc.)</li>
   <li>Not
       understanding and/or not complying with certification requirements (minor
       non-compliances) from the previous year.</li>
   <li>Failure
       to complete required paperwork on time, or at all. </li>
   <li>Not
       registering with the state organic program, if applicable. </li>
   <li>Failure
       to pay certification and/or inspection fees. </li>
  </ul>

  <h3>Non-approved inputs:</h3>

  <ul type=square>
   <li>Use of
       non-approved substances (incl. treated seeds), due to negligence and/or
       not understanding the requirements.</li>
   <li>Use of
       non-approved substances, due to trusting an input supplier who gave
       assurances that the material was &quot;approved&quot; for organic farming.</li>
   <li>Failure
       to inquire about the GMO status of inputs, especially inoculants and Bt
       products.</li>
   <li>Not
       having documentation of non-GMO status of inputs, including seeds,
       inoculants, and Bt products.</li>
   <li>The
       farmer does not correctly calculate the amount of time from the last date
       of prohibited inputs used - and the required 36 months have not passed.
       The farmer then wrongly thinks that the present year's crop will be
       saleable as certified organic, when it is not certifiable. </li>
  </ul>

  <h3>Documentation
  of approved inputs:</h3>

  <ul type=square>
   <li>Failure
       to obtain adequate documentation for purchase of approved inputs.</li>
   <li>Failure
       to document attempts to source organic seeds.</li>
  </ul>

  <h3>Record
  keeping: </h3>

  <ul type=square>
   <li>Lack of
       adequate detail or clarity on field maps and/or use of inaccurate maps.</li>
   <li>Field
       maps which do not show acres, field numbers, and/or adjoining land uses.</li>
   <li>Not
       keeping field activity records up to date.</li>
   <li>Failure
       to keep seed and input labels and receipts in an organized and accessible
       manner.</li>
   <li>Failing
       to keep records for contracted services, such as planting, spraying,
       harvesting, and/or trucking. </li>
   <li>Failure
       to keep bin records up to date. </li>
   <li>Not
       recording field numbers on harvest and/or storage records.</li>
   <li>Not
       using lot numbers or not using a consistent lot numbering system.</li>
   <li>Not
       providing adequate documentation to buyers when organic products are sold.</li>
   <li>Not
       keeping records of steps taken to inspect and clean transport units. </li>
   <li>Not
       maintaining adequate records for operations with both organic and
       conventional production.</li>
  </ul>

  <h3>Organic
  plan:</h3>

  <ul type=square>
   <li>Failure
       to follow the operation's organic plan.</li>
   <li>Filing
       &quot;renewal&quot; farm plans with entries marked &quot;No Change&quot;,
       when there have been significant changes, such as new leased or purchased
       fields, discontinued leases, sub-divided fields, new crops, new inputs,
       changes to field numbers, changes to lot numbering system, etc. </li>
  </ul>

  <h3>Commingling
  and contamination:</h3>

  <ul type=square>
   <li>Failure
       to properly clean harvesting equipment and/or storage units, resulting in
       commingling or contamination of organic crop.</li>
   <li>Failure
       to segregate crops harvested from buffer zones.</li>
   <li>Lack of
       cleaning logs for spray equipment that is also used for prohibited inputs.
       </li>
   <li>Work
       area contamination for post harvest handling (e.g. washing vegetables,
       cutting vegetables, packing<br>
       vegetables, etc.)</li>
   <li>Mislabeling
       or mishandling of crop by mistake by workers who are not fully informed of
       organic certification requirements. </li>
   <li>Misapplication
       of prohibited materials by workers who are not fully informed of organic
       certification requirements. </li>
   <li>No GMO
       drift management plan - not knowing where the nearest GMO fields are
       located.</li>
   <li>Failure
       to inform highway departments and/or other authorities that land adjacent
       to organic fields should not be sprayed (or sign no-spray agreements when
       these are available).</li>
   <li>Failure
       to post no-spray signs when and where these would add protection.</li>
  </ul>
  <br>
  <p><span class=smalltext style='font-family:Verdana'>*Based on
  information provided by members of the Independent Organic Inspectors
  Association and the OTA's Organic Certifiers Council. Compiled January 18,
  2002, by James A. Riddle, Organic Independents, Winona, MN, USA. </p>
</div>
