<div class="page-controller">
  <h1>Organic Standards</h1>
  <h2>OneCert International Organic Standards</h2>
  <p>
    The <i><a href="download.php" target="_top">OneCert International Organic Standards</a></i> include the
    full text of the NOP regulations plus the additional requirements of the
    standards in the following list.&nbsp; The full text of these other standards is
    available by clicking on the name of the standard.
  </p>
  <h3>United States Standards</h3>
  <ul>
    <li><a href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&sid=3f34f4c22f9aa8e6d9864cc2683cea02&tpl=/ecfrbrowse/Title07/7cfr205_main_02.tpl">
      National Organic Program (NOP)</a> (United States)</li>
  </ul>
  <h3>European Standards</h3>
  <ul>
    <li><a href="http://eur-lex.europa.eu/legal-content/EN/ALL/;jsessionid=pZBxT2xFMvmp49q47RJ9S59l0V1lGHFhyNqKTB2YrJRkfH3sQrN2!317055076?uri=CELEX:32007R0834">Council Regulation 834/2007</a> (European Union)</li>
  </ul>
  <h3>Japanese Standards</h3>
  <ul>
    <li><a href="http://www.maff.go.jp/e/jas/specific/organic.html">JAS Organic Standards</a></li>
    <li><a href="http://www.ams.usda.gov/AMSv1.0/ams.fetchTemplateData.do?template=TemplateN&topNav=NationalOrganicProgram&leftNav=NationalOrganicProgram&page=NOPExportArrangementswithJapan&description=Export%20Arrangements%20with%20Japan&acct=nopgeninfo"
      >US export arrangements with Japan</a></li>
  </ul>

  <h3>Indian Standards</h3>
  <ul>
    <li><a href="http://www.apeda.gov.in/apedawebsite/organic/index.htm">
      National Programme for Organic Production (NPOP)</a></li>
  </ul>
  <h2>Textile Standards</h2>
  <h3>Global Organic Textile Standards</h3>
  <ul>
    <li><a href="http://www.global-standard.org/">GOTS</a></li>
  </ul>
  <h3>Textile Exchange</h3>
  <ul>
    <li><a href="http://textileexchange.org/OCS">Organic Content Standard (OCS)</a></li>
  </ul>
</div>
